<div *ngIf="!loading" [ngClass]="setting.theme" class="page">
  <div class="page-body">
    <app-left [setting]="setting" class="page-body-left"></app-left>
    <div class="page-body-right">
      <app-top [setting]="setting" class="page-body-right-top"></app-top>
      <div class="page-body-right-bottom">
        <app-center class="page-body-right-bottom-center" [setting]="setting"></app-center>
        <app-right class="page-body-right-bottom-right animated slideInRight" *ngIf="showExpressionPanel" [setting]="setting"></app-right>
      </div>
    </div>
  </div>
</div>
