<div [ngClass]="setting.theme" class="content">
  <div class="content-body" id="content">
    <div class="message animated slideInDown" *ngFor="let message of messages; let i = index">
      <ng-template [ngIf]="message.formType==0">
        <div class="message-box0 other">
          <div [ngStyle]="{'margin-left':(setting.theme=='light' && message.type==2)?'40px':'10px'}"
               class="message-box0-left">
            <div class="message-box0-left-head">{{message.nickname && message.nickname.substring(0, 1)}}</div>
          </div>
          <!-- 文字消息 -->
          <div *ngIf="message.type == 0" [ngClass]="message.type==1?'text':''" class="message-box0-right">
            <div class="message-box0-right-nickname">{{message.nickname}}</div>
            <div class="message-box0-right-content">{{message.message}}</div>
            <div class="message-box0-right-time">{{message.time}}</div>
          </div>
          <!-- 图片消息 -->
          <div *ngIf="message.type == 1" [ngClass]="message.type==1?'img':''" class="message-box0-right">
            <div
              class="message-box0-right-nickname">{{message.nickname}}</div>
            <div [innerHTML]="message.message" class="message-box0-right-innerhtml">

            </div>
            <div
              class="message-box0-right-time">{{message.time}}</div>
          </div>
          <!-- 链接消息 -->
          <div *ngIf="message.type == 2" [ngClass]="message.type==1?'link':''" class="message-box0-right">
            <div [ngStyle]="{'margin-left':(setting.theme=='light')?'30px':'0px'}"
                 class="message-box0-right-nickname">{{message.nickname}}</div>
            <div [ngStyle]="{'margin-left':(setting.theme=='light')?'30px':'0px'}"
                 class="message-box0-right-link">
              <a [href]="message.message" target="_blank" class="message-box0-right-link-text">
                {{message.message}}
              </a>
            </div>
            <div [ngStyle]="{'margin-left':(setting.theme=='light')?'30px':'0px'}"
                 class="message-box0-right-time">{{message.time}}</div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="message.formType==1">
        <div class="message-box1 self animated flipInX">
          <div class="message-box1-left">
            <div class="message-box1-left-content">{{message.message}}</div>
            <div class="message-box1-left-time">{{message.time}}</div>
          </div>
          <div class="message-box1-right">
            <div class="message-box1-right-head">我</div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="content-foot">

    <div class="content-foot-box">
      <div class="content-foot-box-top">
        <div (click)="action(0)" class="content-foot-box-top-action">
          <img alt="" class="content-foot-box-top-action-img" src="../../../../../assets/icon/pic.png" srcset="">
        </div>
        <div (click)="action(1)" class="content-foot-box-top-action">
          <img alt="" class="content-foot-box-top-action-img" src="../../../../../assets/icon/expression.png" srcset="">
        </div>
        <div (click)="action(2)" class="content-foot-box-top-action">
          <img alt="" class="content-foot-box-top-action-img" src="../../../../../assets/icon/file.png" srcset="">
        </div>
        <div (click)="action(3)" class="content-foot-box-top-action">
          <img alt="" class="content-foot-box-top-action-img" src="../../../../../assets/icon/video.png" srcset="">
        </div>
        <div (click)="action(4)" class="content-foot-box-top-action">
          <img alt="" class="content-foot-box-top-action-img" src="../../../../../assets/icon/history.png" srcset="">
        </div>
      </div>
      <div class="content-foot-box-bottom">
        <textarea (keyup.enter)="sendMsg()" [(ngModel)]="msg.message"
                  class="content-foot-box-bottom-textarea"></textarea>
      </div>
    </div>
  </div>
</div>
