@import "~src/assets/less/_variables.less";
.content {
  flex: 1;
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;

  &-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth
  }

  &-foot {
    width: 100%;
    height: 150px;
    position: relative;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;


    &-left {
      flex: 1;
      padding: 2px;

      &-textarea {
        width: 97.5%;
        height: 86%;
        background-color: @color-tertiary-dark;
        padding: 10px;
        resize: none;
        color: @color-tertiary-light;
        border: 1px solid @color-secondary;
        border-radius: 5px;
        box-shadow: inset 0 0 8px @color-secondary;

      }
    }

    &-right {
      width: 100px;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-top {
        width: 80px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-icon {
          width: 40px;
          height: 40px;
        }
      }

      &-bottom {
        width: 80px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-icon {
          width: 40px;
          height: 40px;

        }
      }
    }
  }
}

.content-body::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.content-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px @box-shadow-color;
  background: @color-secondary;
}

.content-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px @box-shadow-color;
  border-radius: 10px;
  background: @bg-surface;
}

.self {
  .message-box1-left-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }
}

.other {
  .message-box0-right-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
}

.message {
  width: 100%;
  margin: 15px 0px;

  .other {
    float: left;
  }

  .self {
    float: right;
  }

  &-box0 {
    margin: 5px;
    min-width: 10px;
    max-width: 400px;
    min-height: 20px;
    display: flex;
    flex-direction: row;


    &-left {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: flex-end;
      justify-content: center;


      &-head {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #404040;
        text-align: center;
        line-height: 40px;
        color: @color-secondary;
        font-weight: bold;
        font-size: 16px;
      }
    }

    &-right {
      flex: 1;
      display: flex;
      flex-direction: column;

      &-img {
        width: 360px;
        height: auto;
        margin: 2px 10px;
        border-radius: 5px;
        overflow: hidden;
        background: @bg-primary;

        &-dom {
          width: 360px;
          height: 100%;
          border-radius: 5px;
        }
      }

      &-link {
        min-width: 360px;
        height: 40px;
        background: #3e3e3e;
        margin-left: 10px;
        display: flex;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;

        &-text {
          color: @color-primary;
          font-size: 14px;
          font-weight: 400;
          padding: 5px 3px;
          margin: 5px 0px;
          line-height: 40px;
          white-space: nowrap;
        }
      }

      &-nickname {
        color: @color-secondary;
        font-size: 10px;
        font-weight: 300;
      }

      &-content {
        color: @color-tertiary-light;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 20px;
        background: #3e3e3e;
        margin: 5px 0px;
      }

      &-time {
        color: #626262;
        font-size: 10px;
        font-weight: 300;
      }
    }
  }


  &-box1 {
    margin: 5px;
    min-width: 10px;
    max-width: 400px;
    min-height: 20px;
    display: flex;
    flex-direction: row;


    &-right {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: flex-end;
      justify-content: center;


      &-head {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: @bg-tertiary;
        text-align: center;
        line-height: 40px;
        color: @color-tertiary-light;;
        font-weight: bold;
        font-size: 16px;
      }
    }

    &-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-content {
        color: @color-tertiary-light;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 20px;
        background: @color-secondary;
        margin: 5px 0px;
      }

      &-time {
        color: @color-surface-light;
        font-size: 10px;
        font-weight: 300;
      }
    }
  }
}


.dark {
  .message-box0-right-content {
    color: @color-tertiary-light;
    background: @bg-surface;
  }

  .message-box0-right-img {
    background: @color-tertiary-dark;
  }
}

.light {
  .message-box0-right-content {
    color: @color-tertiary-dark;
    .box-show1();
  }

  .message-box0-right-link {
    color: @bg-secondary;
    .box-show1();
  }

  .message-box0-right-nickname {
    color: @color-tertiary-dark;
  }

  .message-box0-left-head {
    color: @bg-secondary;
    .box-show1();
    border-radius: 5px;
  }

  .message-box0-right-img {
    .box-show1();
    margin: 5px 0px;
    padding: 10px;
  }

  .message-box0-left {
    width: 120px;
  }

  .message-box0-left-head {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .message-box0-right-time {
    color: @bg-tertiary;
  }

  .content-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px @bg-tertiary;
    background: @bg-secondary;
  }

  .content-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px @bg-tertiary;
    border-radius: 10px;
    background: @color-tertiary-light;
  }

  .content-foot-left {

  }

  .content-foot-left-textarea {
    background: transparent;
    border: 1px solid @border-color-primary;
    .box-show1();
  }


  .content-foot-right-bottom-icon, .content-foot-right-top-icon {
    border-radius: 15px;
    overflow: hidden;
    .box-show2();
  }
}
