<div class="slider">
  <div class="slider-logo">
    <img class="slider-logo-img" src="../../../../../assets/images/logo.png" alt="" srcset="">
  </div>
  <div class="slider-body">
    <div class="slider-body-menu" *ngFor="let menu of menus; let i=index " (click)="navtoPage(menu,i)">
      <img class="slider-body-menu-icon" [src]="'../../../../../assets/images/'+menu.icon+(active == i?'_a':'')+'.png'"
           alt="" srcset="">
    </div>
  </div>
  <div class="slider-setting" (click)="exit()">
    <img class="slider-setting-img" src="../../../../../assets/images/exit.png" alt="" srcset="">
  </div>
</div>
