<div [ngClass]="setting.theme" class="head">
  <div class="head-left">
    <div class="head-left-search">
      <div class="head-left-search-icon">
        <img alt="" class="head-left-search-icon-img" src="../../../../../assets/icon/search.png" srcset=""/>
      </div>
      <div class="head-left-search-input"> 搜索消息 ..</div>
    </div>
  </div>
  <div (click)="changeTheme('light')" *ngIf="setting.theme=='light'" class="head-right">
    <div class="head-right-light head-right-dark-active">
      <img class="head-right-light-icon" src="../../../../../assets/icon/ra.png" alt="">
    </div>
    <div class="head-right-dark">
      <img class="head-right-dark-icon" src="../../../../../assets/icon/y.png" alt="">
    </div>
  </div>
  <div (click)="changeTheme('dark')" *ngIf="setting.theme=='dark'" class="head-right">
    <div class="head-right-light">
      <img class="head-right-light-icon" src="../../../../../assets/icon/r.png" alt="">
    </div>
    <div class="head-right-dark head-right-dark-active">
      <img class="head-right-dark-icon" src="../../../../../assets/icon/ya.png" alt="">
    </div>
  </div>
  <div class="head-calendar">
    <div class="head-calendar-text animated swing" *ngIf="time">{{time}}</div>
  </div>
  <!--  <div class="head-notice">-->
  <!--      <div class="head-notice-box">-->
  <!--        <img class="head-notice-box-icon" src="../../../../../assets/icon/notice.png" >-->
  <!--        <div class="head-notice-box-point"></div>-->
  <!--      </div>-->
  <!--  </div>-->
</div>
