.head {
  position: relative;
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 0px 60px;

  &-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-search {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      background: #404040;
      align-items: center;

      &-icon {
        width: 40px;
        height: 40px;
        position: relative;

        &-img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 25px;
          height: 25px;
          margin-left: -12.5px;
          margin-top: -12.5px;
        }
      }

      &-input {
        color: #717171;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  &-right {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-light, &-dark {
      display: flex;
      width: 50px;
      height: 35px;
      align-items: center;
      justify-content: center;
      background-color: #404040;

      &-icon {
        width: 20px;
        height: 20px;
      }
    }

    &-light {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &-dark {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &-light-active, &-dark-active {
      background-color: white;
      border-radius: 5px;
    }
  }

  &-calendar {
    flex: 1;
    display: flex;
    align-items: center;

    &-text {
      margin-left: 15%;
      font-size: 18px;
      color: #4c4c4c;
    }
  }

  &-notice {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: flex-start;

    &-box {
      position: relative;
      width: 50px;
      height: 50px;

      &-point {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ff2600;
        top: 35px;
        left: 18px;
      }

      &-icon {
        position: absolute;
        top: 40px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.head:before {
  position: absolute;
  content: " ";
  width: 80%;
  height: 1px;
  background-color: #343434;
  bottom: 0px;
  left: 5%;
  border-radius: 50%;
}
