<div class="head">
  <div class="head-left">
    <div class="head-left-search">
      <div class="head-left-search-icon">
        <img class="head-left-search-icon-img" src="../../../../../assets/icon/search.png" alt="" srcset="" />
      </div>
      <div class="head-left-search-input"> Search for a message..</div>
    </div>
  </div>
  <div class="head-right" *ngIf="active=='light'" (click)="changeTheme()">
    <div class="head-right-light head-right-dark-active">
      <img class="head-right-light-icon" src="../../../../../assets/icon/ra.png" alt="">
    </div>
    <div class="head-right-dark">
      <img class="head-right-dark-icon" src="../../../../../assets/icon/y.png" alt="">
    </div>
  </div>
  <div class="head-right" *ngIf="active=='dark'" (click)="changeTheme()">
    <div class="head-right-light">
      <img class="head-right-light-icon" src="../../../../../assets/icon/r.png" alt="">
    </div>
    <div class="head-right-dark head-right-dark-active">
      <img class="head-right-dark-icon" src="../../../../../assets/icon/ya.png" alt="">
    </div>
  </div>
  <div class="head-calendar">
    <div class="head-calendar-text animated swing" *ngIf="time">{{time}}</div>
  </div>
  <div class="head-notice">
      <div class="head-notice-box">
        <img class="head-notice-box-icon" src="../../../../../assets/icon/notice.png" >
        <div class="head-notice-box-point"></div>
      </div>
  </div>
</div>
