@import "~src/assets/less/_variables.less";

.app-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: @color-tertiary-dark;
  background-size: cover;

  &-content{
    position: relative;
  }
}
