<div class="page animated fadeIn" *ngIf="!loading">
  <div class="helper animated" *ngIf="!isInit" [ngClass]="helpState?'slideInRight':'hinge'">
    <div class="helper-text">
      欢迎加入TreeNewBee频道,请先进行偏好设置！
    </div>
  </div>
  <div class="page-head">
    <div class="page-head-title">耍微淘-偏好设置</div>
    <div class="page-head-action" (click)="save()">
      <div class="page-head-action-text">保存并加入群聊</div>
    </div>
  </div>
  <div class="page-line"></div>
  <div class="page-body">
    <div class="page-body-item">
      <div class="page-body-item-label">昵称</div>
      <div class="page-body-item-value">
        <input type="text" class="page-body-item-value-text" [(ngModel)]="nickname" placeholder="请输入您的昵称">
      </div>
    </div>

    <div class="page-body-item">
      <div class="page-body-item-label">动画开关</div>
      <div class="page-body-item-value">
        <div class="testswitch">
          <input class="testswitch-checkbox" id="animation" type="checkbox" [(ngModel)]="animation"
                 (change)="changeAnimation()">
          <label class="testswitch-label" for="animation">
            <span class="testswitch-inner" data-on="开启" data-off="关闭"></span>
            <span class="testswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

