@import "~src/assets/less/_variables.less";

@width:80vw;
@sliderWidth: 100px;
.page {
  display: flex;
  flex-direction: column;
  width: calc(@width - @sliderWidth);
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  .color-tertiary(dark);

  &-head {
    width: calc(@width - @sliderWidth);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-title {
      padding: 0px 30px;
      font-size: 26px;
      color: @color-primary;
      font-weight: bold;
      margin: 0px 5px;
    }

    &-action {
      width: 200px;
      height: 40px;
      background-color: @color-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 5px;

      &-text {
        font-size: 22px;
        color: @color-tertiary-dark;
        font-weight: bold;
        width: 400px;
      }
    }

    &-action:hover {
      cursor: pointer
    }
  }

  &-line {
    width: 100%;
    height: 2px;
    background: @color-secondary;
    margin-left: 2%;
  }

  &-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(@width - @sliderWidth);
    height: 100%;

    &-item {
      width: calc(@width - @sliderWidth);
      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &-label {
        padding: 0px 30px;
        margin: 0px 5px;
        font-size: 22px;
        color: @color-secondary;
        font-weight: bold;
        width: 400px;
      }


      &-value {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-text {
          width: 100%;
          font-size: 24px;
          font-weight: bold;
          color: @color-secondary;
          background-color: transparent;
          border: none;
          text-align: right;
        }

        &-bg {
          width: 400px;
          height: 300px;
          border: 5px solid @color-secondary;
          border-radius: 5px;
          overflow: hidden;
          background-size: cover;
        }
      }

      &-value:hover {
        cursor: pointer
      }
    }
  }
}

.testswitch {
  position: relative;
  float: left;
  width: 90px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.testswitch-checkbox {
  display: none;
}

.testswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid @line-color;
  border-radius: 5px;
}

.testswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before, .testswitch-inner::after {
  display: block;
  float: right;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: @color-surface-light;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.testswitch-inner::after {
  content: attr(data-on);
  padding-left: 10px;
  background-color: @color-primary;
  color: @color-surface-light;
}

.testswitch-inner::before {
  content: attr(data-off);
  padding-right: 10px;
  background-color: @color-surface-light;
  color: @line-color;
  text-align: right;
}

.testswitch-switch {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  margin: 4px;
  background: @color-surface-light;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid @line-color;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
  margin-left: 0;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
  right: 0px;
}

.light.page {
  background-color: @color-tertiary-light;

  .page-head-action-text {
    color: @color-tertiary-light;
  }
}
