@import "~src/assets/less/_variables.less";
.panel {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  .color-tertiary(dark);

  &-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1400px;
    height: 850px;
    top: 50%;
    left: 50%;
    margin-left: -700px;
    margin-top: -425px;
    border-radius: 10px;
    overflow: hidden;

    &-slider {
      width: 80px;
      height: 100%;
      background-color: @color-secondary;
      box-shadow: inset 0 0 8px @color-primary;
    }
  }
}


.helper {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 9999;
  background-color: @color-primary;
  top: 50%;
  margin-top: -150px;
  margin-left: -250px;
  left: 50%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-text {
    color: @color-surface-light;
    font-size: 60px;
    text-align: center;
  }
}

.helper.light {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 13px 13px 20px #d4d4d4, -13px -13px 20px #ffffff;

  .helper-text {
    color: @color-tertiary-dark;
  }
}
