@import "~src/assets/less/_variables.less";
.panel {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  .color-tertiary(dark);

  &-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1400px;
    height: 850px;
    top: 50%;
    left: 50%;
    margin-left: -700px;
    margin-top: -425px;
    border-radius: 10px;
    overflow: hidden;

    &-slider {
      width: 80px;
      height: 100%;
      background-color: @color-secondary;
      box-shadow: inset 0 0 8px @color-primary;
    }
  }
}

