/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: FZShangKJW;
  src: url("assets/fonts/FZShangKJW.TTF");
}
* {
  font-family: FZShangKJW;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
