.left {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &-top {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    &-head {
      padding: 0px 30px;

      &-title {
        margin: 0px 5px;
        font-size: 26px;
        color: #248c5f;
        font-weight: 600;
        font-family: FZShangKJW;
      }
    }
  }

  &-center {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;

    &-title {
      width: 95%;
      height: 50px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      &-text {
        font-size: 18px;
        font-weight: bold;
        color: #248c5f;
        margin-left: 40px;
      }

      &-num {
        margin: 2px 5px;
        font-size: 12px;
        font-weight: bold;
        color: #252525;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #717171;
        text-align: center;
        line-height: 30px;
      }
    }

    &-content {
      overflow-x: hidden;
      overflow-y: auto;
      height: 700px;
      width: 100%;

      &-item {
        width: 90%;
        height: 40px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;


        &-left {
          width: 45px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &-head {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #404040;

            text-align: center;
            line-height: 30px;
            color: #12975e;;
            font-weight: bold;
            font-size: 16px;
          }

        }

        &-right {
          flex: 1;
          background: #248c5f;
          border-radius: 5px;
          color: #FFFFFF;
          line-height: 40px;
          text-align: left;
          padding: 0px 10px;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }
  }

}

.left-center-content::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.left-center-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #248c5f;
}

.left-center-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #404040;
}

.dark.left:before {
  position: absolute;
  content: " ";
  width: 1px;
  height: 100%;
  background-color: #343434;
  right: 0px;
  top: 0px;
  border-radius: 50%;
}

.light {
  .left-center-content-item-right {
    background: #f1f0f0;
    color: #050505;
  }

  .left-center-content-item-left-head {
    background-color: #f1f0f0;
    color: #010101;
  }

  .left-center-title-num {
    background-color: #f4f3f3;
  }
}

.light.left:before {
  background-color: #ebebeb;
  position: absolute;
  content: " ";
  width: 1px;
  height: 100%;
  right: 0px;
  top: 0px;
  border-radius: 50%;
}
